@import 'bootstrap/scss/bootstrap';
@font-face {
  font-family: "RobotoBold";
  src: local("RobotoBold"),
  url(/fonts/Roboto-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "RobotoMedium";
  src: local("RobotoMedium"),
  url(/fonts/Roboto-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "RobotoRegular";
  src: local("RobotoRegular"),
  url(/fonts/Roboto-Regular.ttf) format("truetype");
}
@import 'colors';
@import 'fonts';
@import 'functions';

:root {
    --bs-tertiary-bg-rgb: 101, 127, 220;
}
body {
  font-family: 'Roboto' !important;
}
// carousel indicators rounded
.rounded-8 {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
}
.carousel-indicators [data-bs-target] {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
}
// search component
.snow.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: color("snow") !important;
  border-color: var(--bs-btn-hover-border-color);
}
p {
  height: fit-content !important;
  margin-top: auto;
  margin-bottom: auto;
}
.w-90 {
  width: 90% !important;
}
// This CSS will run for mobile meduim screen
@media only screen and (max-width: 900px) {
  .font-xx-large {
    font-size: 2.375rem !important;
  }
  .font-x-large {
    font-size: 1.48485rem !important;
  }
  .font-large {
    font-size: 1.306rem !important;
  }
}
// This CSS will run for small screen
@media only screen and (max-width: 700px) {
  .font-xx-large {
    font-size: 2.25rem !important;
  }
  .font-x-large {
    font-size: 1.4067rem !important;
  }
  .font-large {
    font-size: 1.2375rem !important;
  }
}
// This CSS will run for mobile devices
@media only screen and (max-width: 430px) {
  .font-xx-large {
    font-size: 2rem !important;
  }
  .font-x-large {
    font-size: 1.25rem !important;
  }
  .font-large {
    font-size: 1.1rem !important;
  }
}