@import 'bootstrap/scss/bootstrap';
@font-face {
  font-family: "RobotoBold";
  src: local("RobotoBold"),
  url(assets/fonts/Roboto-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "RobotoMedium";
  src: local("RobotoMedium"),
  url(assets/fonts/Roboto-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "RobotoRegular";
  src: local("RobotoRegular"),
  url(assets/fonts/Roboto-Regular.ttf) format("truetype");
}
@import 'colors';
@import 'fonts';
@import 'functions';

:root {
    --bs-tertiary-bg-rgb: 101, 127, 220;
}
body {
  font-family: 'Roboto' !important;
}
// carousel indicators rounded
.rounded-8 {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
}
.carousel-indicators [data-bs-target] {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
}
// search component
.snow.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: color("snow") !important;
  border-color: var(--bs-btn-hover-border-color);
}
