@import 'bootstrap/scss/bootstrap';
@font-face {
  font-family: "RobotoBold";
  src: local("RobotoBold"),
  url(/fonts/Roboto-Bold.ttf) format("truetype");
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: "RobotoMedium";
  src: local("RobotoMedium"),
  url(/fonts/Roboto-Medium.ttf) format("truetype");
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: "RobotoRegular";
  src: local("RobotoRegular"),
  url(/fonts/Roboto-Regular.ttf) format("truetype");
  unicode-range: U+000-5FF;
}
// @font-face {
//   font-family: "CairoBold";
//   src: local("CairoBold"),
//   url(/fonts/Cairo-Bold.ttf) format("truetype");
// }
// @font-face {
//   font-family: "CairoMedium";
//   src: local("CairoMedium"),
//   url(/fonts/Cairo-Medium.ttf) format("truetype");
// }
// @font-face {
//   font-family: "CairoRegular";
//   src: local("CairoRegular"),
//   url(/fonts/Cairo-Regular.ttf) format("truetype");
// }
@font-face {
  font-family: "NotoKufiArabicBold";
  src: local("NotoKufiArabicBold"),
  url(/fonts/NotoKufiArabic-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "NotoKufiArabicMedium";
  src: local("NotoKufiArabicMedium"),
  url(/fonts/NotoKufiArabic-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "NotoKufiArabicRegular";
  src: local("NotoKufiArabicRegular"),
  url(/fonts/NotoKufiArabic-Regular.ttf) format("truetype");
}
@import 'colors';
@import 'fonts';
@import 'functions';

:root {
    --bs-tertiary-bg-rgb: 101, 127, 220;
}
body {
  font-family: 'Roboto' !important;
}
// carousel indicators rounded
.rounded-8 {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
}
.carousel-indicators [data-bs-target] {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
}
// search component
.snow.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: color("snow") !important;
  border-color: var(--bs-btn-hover-border-color);
}
p {
  height: fit-content !important;
  margin-top: auto;
  margin-bottom: auto;
}
.w-90 {
  width: 90% !important;
}
.w-95 {
  width: 95% !important;
}
.w-fc {
  width: fit-content !important;
  max-width: fit-content !important;
}
.w-mc {
  width: max-content !important;
  max-width: max-content !important;
}
.no-underline {
  text-decoration: unset !important;
}
.text-justify {
  text-align: justify !important;
}
.iti {
  width: 100% !important;
}
.vti__input{
  background: #F9F9F9 !important;
}
.vue-tel-input{
  border: var(--bs-border-width) solid var(--bs-border-color) !important;
  border-radius: var(--bs-border-radius) !important;
}
.vue-tel-input:focus-within {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
  border-color: #66afe9;
}
.was-validated .form-control:invalid, .form-control.is-invalid {
  border-color: var(--bs-form-invalid-border-color) !important;
}
.was-validated .form-control:valid, .form-control.is-valid {
  border-color: var(--bs-form-valid-border-color) !important;
}
// This CSS will run for large screen
@media only screen and (max-width: 1150px) {
  .font-meduim {
    font-size: 1.1rem !important;
  }
}
@media only screen and (max-width: 1100px) {
  .font-meduim {
    font-size: 1.06875rem !important;
  }
}
@media only screen and (max-width: 1073px) {
  .font-small {
    font-size: 0.98rem !important;
  }
}
@media only screen and (max-width: 1064px) {
  .font-meduim {
    font-size: 0.99rem !important;
  }
  .font-small {
    font-size: 0.96rem !important;
  }
}
@media only screen and (max-width: 1047px) {
  .font-small {
    font-size: 0.93rem !important;
  }
}
@media only screen and (max-width: 1029px) {
  .font-small {
    font-size: 0.90rem !important;
  }
}
// This CSS will run for meduim screen
@media only screen and (max-width: 900px) {
  .font-xx-large {
    font-size: 2.375rem !important;
  }
  .font-x-large {
    font-size: 1.48485rem !important;
  }
  .font-large {
    font-size: 1.306rem !important;
  }
  .font-meduim {
    font-size: 0.99rem !important;
  }
  .font-small {
    font-size: 0.95rem !important;
  }
}
// This CSS will run for small screen
// minus 10%
@media only screen and (max-width: 700px) {
  .font-xx-large {
    font-size: 2.25rem !important;
  }
  .font-x-large {
    font-size: 1.4067rem !important;
  }
  .font-large {
    font-size: 1.2375rem !important;
  }
  .font-meduim {
    font-size: 0.99rem !important;
  }
  .font-small {
    font-size: 0.9rem !important;
  }
}
// This CSS will run for mobile devices
// minus 20%
@media only screen and (max-width: 430px) {
  .font-xx-large {
    font-size: 2rem !important;
  }
  .font-x-large {
    font-size: 1.25rem !important;
  }
  .font-large {
    font-size: 1.1rem !important;
  }
  .font-meduim {
    font-size: 0.9rem !important;
  }
  .font-small {
    font-size: 0.8rem !important;
  }
}